.ki{

width:500px;
height:400px;}
.ki1{
background-color:blue;
width:230px;
height:400px;
text-align:center;
float:left;}
.ki2{
background-color:green;
width:230px;
height:400px;
text-align:center;
float:left;}
.clear{
clear:both;}
